
$font-main: 'inter', sans-serif;
$black: #1d1e25;
$primary: #F5F5FF;
$white: #fff;
$blur-orange: #FA7515;
$blur-green: #E2F8F0;
$grey: #7e8391;
$grey-light: #d0cfcf;
$blue: #1463FF;
$ap: clamp(0.5px, 100vw / 1200, 1px); 
