
.button {
  position: relative;
  padding: 12px 55px;
  background-color: rgba(127, 149, 249, 0.5);
  font-size: 17px;
  font-weight: 500;
  color: #7f95f9;
  border: 1px solid #7f95f9;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.button:hover {
  background: transparent;
  color: #7f95f9;
  box-shadow: 0 0 15px #7f95f9;
}

.star {
  position: absolute;
  z-index: -5;
  transition: all .8s ease;
  top: 20%;
  left: 20%;
  width: 1px;
  height: 1px;
}

.button:hover .star {
  position: absolute;
  filter: drop-shadow(0 0 10px #fafafa);
  border-radius: 50%;
  z-index: 2;
}

.button:hover .star-1 {
  top: -60%;
  left: -20%;
  width: 36px;
  height: 36px;
}

.button:hover .star-2 {
  top: -25%;
  left: 10%;
  width: 30px;
  height: 30px;
}

.button:hover .star-3 {
  top: 55%;
  left: 10%;
  width: 20px;
  height: 20px;
}

.button:hover .star-4 {
  top: 30%;
  left: 80%;
  width: 25px;
  height: 25px;
}

.button:hover .star-5 {
  top: 25%;
  left: 115%;
  width: 30px;
  height: 30px;
}

.button:hover .star-6 {
  top: -30%;
  left: 60%;
  width: 25px;
  height: 25px;
}