.footer__nav {
  margin-bottom: 50px;
}

.line {
  max-width: 1200px;
  height: 1px;
  margin: 0 auto 50px auto;
  background-color: #7f95f9;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-item {
  margin: 0;
}

.footer__logo-img {
  margin-right: 5px;
}

.footer__menu-link {
  color: #7f95f9;
}

.footer__menu-link {
  position: relative;
}

.footer__menu-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #7f95f9;
  bottom: -10px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footer__menu-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (max-width: 550px) {
  .footer__menu {
    flex-direction: column;
    gap: 30px;
  }
}