
.about-services {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.about-services__images {
  max-width: 480px;
  max-height: 526px;
  position: relative;
  padding-right: 130px;
  padding-bottom: 126px;
}

.img {
  max-width: 350px;
  max-height: 400px;
  border-radius: 24px;
}

.about-services__video-block-1 {
  position: absolute;
  top: 126px;
  left: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.about-services__video-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-services__button {
  background-color: transparent;
  position: absolute;
}

.about-services__description {
  padding: 64px 0 64px 120px;
  align-content: center;
  max-width: 700px;
}

.about-services__subtitle, .subtitle {
  color: var(--orange);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.about-services__title, .title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
  color: var(--black);
  margin-bottom: 40px;
}

.about-services__text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: var(--black);
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .about-services {
    flex-direction: column;
  }
  .about-services__images {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: unset;
    order: 1;
  }
  .img {
    max-width: 100%;
  }
  .about-services__video-block-1,
  .about-services__video-block-2 {
    max-width: 47%;
  }
  .about-services__video-block-1 {
    position: unset;
  }
  .about-services__description {
    padding: 15px;
    margin-bottom: 25px;
    max-width: 900px;
  }
  .about-services__subtitle {
    font-size: 16px;
  }
  .about-services__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .about-services__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .about-services__btn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 520px) {
  .about-services__video-block-1 {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .about-services__video-block-2 {
    display: none;
  }
}
