
.subscription {
  position: relative;
  z-index: 10;
}

.subscription__wrapper {
  padding: 40px 8.47%;
  display: flex;
  gap: 5.42%;
  background: #fcfcfc;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(24, 18, 30, 0.12);
}

.subscription__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
}

.subscription__title {
  font-size: 26px;
  line-height: 1.2;
  text-align: left;
}

.email-label {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
}

.input-wrapper {
  display: flex;
}

.input-email {
  display: inline-block;
  background-color: var(--grey);
  width: 100%;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding: 12px 16px;
}

.input-email::placeholder {
  color: var(--black);
}

.input-button {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: auto;
}

.mailing-rules {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.mailing-rules > a {
  text-decoration: underline;
}

.mailing-rules > a:hover {
  cursor: pointer;
}

@media (max-width: 991px) {
  .subscription__wrapper {
    display: block;
  }
}

@media (max-width: 578px) {
  .input-wrapper {
    display: block;
  }
  .input-button {
    margin-bottom: 24px;
  }
}
