.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  color: #F3F5F4;
}

.swiper-button-next {
  color: #F3F5F4;
}

.swiper-container .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #555;
}

.swiper-container .swiper-pagination-fraction {
  font-size: 20px;
  color: green; 
}

.swiper-container .swiper-pagination-progressbar-fill {
  background-color: #F2BE22;
}

.swiper-container .swiper-scrollbar {
  cursor: pointer;
  background-color: palevioletred;
}