@import 'base/base';
@import 'base/reset';
@import 'bloks/header';
@import 'bloks/projects';
@import 'bloks/title-page';
@import 'bloks/title';
@import 'bloks/button';
@import 'bloks/projects';
@import 'bloks/qr-modal-window';
@import 'bloks/footer';
