
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
    --um: clamp(0.7px, 100vw / 1570, 1px) 
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 2000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */

.header {
    position: fixed;
    /* left: 0; */
    width: 100%;
    max-width:  calc(var(--um) * 1610);
}

.header__nav{
    position: relative;
    top: 0;
    left: 0;
    float: right;
}

.header__list {
    display: flex;
}

.header__list a{
    display: block;
    padding: 30px;
    color: var(--white);
    font-size: 20px;
    transition: all 0.3s ease;
}

/* ----------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    z-index: 10;
}

/* Nav menu */
.header__nav {
    overflow: hidden;
    max-height: 0;
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #73AFBA;
    transition: max-height .5s ease-out;
}

.header__list {
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.header__list a:hover{
    color: #0a798d;
}

/* Menu Icon */

.hamb{
    display: block;
    cursor: pointer;
    padding: 10px 10px;
    position: relative;
    z-index: 10;
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width:  calc(var(--um) * 48);
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 7px;
}

.mobile-menu {
    display: none;
}

/* Toggle menu icon */

.mobile-menu:checked ~ nav{
    max-height: 100%;
}

.mobile-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.mobile-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.mobile-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

