.footer_black {
  padding-top: calc($ap * 121);
  background-color: $black;
  padding-bottom: calc($ap * 46);
  color: $white;
}

.footer__desk_black {
  color: $grey;
}

.footer__desk_black::before {
  background-color: $white;
}

.footer__button_white {
  background-color: $white;
  color: $black;
}

.footer__button_white:hover {
  background-color: $black;
  color: $white;
  outline: 1px solid $white;
}

.footer__nav-link_black {
  color: $grey
}

.footer__nav-link_black::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $grey;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footer__nav-link_black:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer_black-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 72px;
  row-gap: 24px;
}

.footer__list_white {
  display: flex;
  margin: 0;
}

.privacy-policy_white {
  display: flex;
  color: $white;
  margin: 0;
  margin-right: auto;
}

.copyright_white {
  color: $white;
  margin: 0;
}

@media (max-width: 820px) {
  .footer_black-info {
    flex-direction: column;
  }
  .privacy-policy_white {
    margin: 0;
  }
}
