
.header__wrapper {
  display: flex;
  gap: calc($ap * 68);
  align-items: center;
  height: 100px;
  margin-bottom: calc($ap * 87);
}

.logo {
  margin-right: auto;
  width: max(112px, calc($ap * 140));
}

.header__nav-list {
  display: flex;
  gap: calc($ap * 32);
}

.header__nav-link {
  font-weight: 500;
  font-size: max(14px, calc($ap * 16));
  line-height: 26px;
  text-align: left;
  position: relative;
}

.header__contacts-link {
  border-bottom: 1px solid $black;
  padding-bottom: 5px;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
  margin-right: 22px;
}

.header__contacts-link::after {
  content: url(../../img/header/log-in.svg);
  position: absolute;
  bottom: -6px;
}

// =============================================

.logo {
  opacity: 0;
  animation: uprise 1.5s forwards 0.5s;
}
@keyframes uprise {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.header__contacts-link,
.header__nav-list {
  transform: translateX(-150%);
  animation: slip-l 1s forwards;
}
@keyframes slip-r {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}
@keyframes slip-l {
  0% {transform: translateX(150%);}
  100% {transform: translateY(0);}
}

// underline при ховере==========================
.header__nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header__nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (max-width: 810px) {
  .header__wrapper {
    margin-bottom: 32px;
  }
}


