.trending {
  text-align: center;
  margin-bottom: calc($ap * 160);
}

.trending__title {
  margin-bottom: calc($ap * 24);
}

.trending__desk {
  margin-bottom: calc($ap * 80);
}

.trending__slider {
  position: relative;
  display: flex;
  gap:  calc($ap * 32);
}

.trending__slide-title {
  text-align: start;
}

.trending__slid {
  text-align: left;
  min-width: 0;
} 

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.buttons {
  width: calc($ap * 80);
  height: calc($ap * 80);
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  background-color: $white;
}

.swiper-button-prev  {
  width: 10px;
  color: $grey;
}

.swiper-button-next {
  width: 10px;
  color: $grey;
}

.trending__slide-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: calc($ap * 16);
}

.trending__meta {
  display: flex;
  justify-content: space-between;
  font-size: calc($ap * 14);
  color: $grey;
  margin-bottom: calc($ap * 16);
}

@media (max-width: 700px) {
    .buttons {
    width: 100%;
    height: 0;
    background-color: transparent;
  }
    .trending-swiper-prev  {
    width: 20px;
    color: $black;
  }

  .trending-swiper-next {
    width: 20px;
    color: $black;
  }
}