/* Theming */
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}
/* Reset */
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

body {
  background-color: $primary;
  font-family: "Poppins", sans-serif;
  min-height: 2000px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* Header */
.header {
  background-color: $primary;
  position: relative;
  top: 0;
  width: 100%;
}

.nav {
  top: 0;
  position: relative;
  float: right;
  background-color: transparent;
}

.menu {
  display: flex;
  // padding-top: 100px;
}
.menu a {
  display: block;
  // padding: 20px 30px;
  // padding-top: 20px;
  color: $black;
  transition: all 0.3s ease;
  text-align: center;
}

.menu a:hover {
  background-color: transparent;
}

.mobile-menu {
  display: none;
}

.hamb {
  display: none;
}

.header__contact-mobile-menu {
  display: none;
}

@media (max-width:810px) {
  .header {
    // position: sticky;
    z-index: 10;
  }
/* Nav menu */
  .header__contacts-link {
    display: none;
    position: relative;
    padding: 20px;
    width: 100%;
    font-size: 20px;
  }
  .header__contact-mobile-menu {
    display: block;
    // font-weight: 500;
    font-size: max(14px, calc($ap * 16));
    line-height: 26px;
    // text-align: left;
  }

    .header__contacts-link::after {
    content: url(../../img/header/log-in.svg);
    position: absolute;
    bottom: 13px;
  }
  .nav {
    overflow: hidden;
    max-height: 0;
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    transition: all .5s ease-out;
  }

  .menu {
    flex-direction: column;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: $primary;
  }
/* Menu Icon */
  .hamb {
    display: block;
    cursor: pointer;
    float: right;
    padding: 40px 20px;
  }

  .hamb-line {
    background: $black;
    display: block;
    height: 2px;
    position: relative;
    z-index: 3;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: $black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .hamb-line::before {
    top: 7px;
    right: 0;
    width: 60%;
  }

  .hamb-line::after {
    top: -7px;
  }

/* Toggle menu icon =======================================================*/

  .mobile-menu:checked ~ nav  {
    max-height: 100%;
    width: 100%;
    padding-top: 100px;
  }

  .mobile-menu:checked ~ nav > ul > li > .header__nav-link {
    padding: 20px;
    font-size: 20px;
  }

  .mobile-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    position: fixed;
    right: 33px;
  }

  .mobile-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
    width: 100%;
  }

  .mobile-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }
}
