
.pricing-plan {
  text-align: center;
  margin-top: calc($ap * 90);
}

.pricing-plan__title {
  padding-top: 24px;
  max-width: 903px;
  margin-bottom: 56px;
  text-align: center;
  margin: 0 auto;
}

.pricing-plan__annual {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: end;
  margin-bottom: calc($ap * 122);;
}

.pricing-plan__selector {
  width: 44px;
  height: 24px;
  border-radius: 12px;
  background-color: $grey-light;
  margin-top: 56px;
}

.save-selector {
  position: absolute;
  display: none;
}

.div-sel {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $blue;
  transition: all 0.1s ease;
}

.save-selector:checked ~ .label-sel .div-sel {
  margin-left: 20px;
}

.pricing-plan__annual-save {
  white-space: nowrap;
}

// ==========================================

.pricing-plan__options {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: end;
  height: 865px;
  margin-bottom: calc($ap * 160);
}

.pricing-input {
  display: none;
}

.pricing-plan__icon-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px 0;
  background-color: $grey-light;
}

.pricing-plan__icon-bg2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px 0;
  background-color: $grey-light;
}

.pricing-plan__icon-bg3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px 0;
  background-color: $grey-light;
}

.pricing-plan__icon01 {
  position: absolute;
}

.pricing-plan__icon02 {
  position: absolute;
}

.pricing-plan__icon03 {
  position: absolute;
}

.pricing-plan__option-title {
  text-align: start;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1d1e25;
}

.pricing-plan__option-title2 {
  text-align: start;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1d1e25;
}
.pricing-plan__option-title3 {
  text-align: start;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1d1e25;
}

.pricing-plan__option-desk {
  text-align: start;
  margin-bottom: 24px;
}

.pricing-plan__option-value {
  text-align: start;
  margin-bottom: 24px;
}

.pricing-plan__option-value2 {
  text-align: start;
  margin-bottom: 24px;
}

.pricing-plan__option-value3 {
  text-align: start;
  margin-bottom: 24px;
}

.pricing-plan__option-value > span {
  text-align: start;
}

.pricing-plan__option-included {
  text-align: start;
  margin-bottom: 16px;
  font-weight: 700;
  color: $grey;
}

.pricing-plan__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.pricing-plan__item {
  display: flex;
  align-items: start;
  white-space: nowrap;
}

.pricing-plan__item2 {
  display: flex;
  align-items: start;
  white-space: nowrap;
}

.pricing-plan__item3 {
  display: flex;
  align-items: start;
  white-space: nowrap;
}

.pricing-plan__item:nth-child(n + 5) {
  color: $grey;
  text-decoration: line-through;
}

.pricing-plan__item2:nth-child(n + 7) {
  color: $grey;
  text-decoration: line-through;
}

.pricing-plan__item2:nth-child(5) {
  color: $grey;
  text-decoration: line-through;
}

.pricing-plan__item-img {
  margin-right: 8px;
}

.pricing-plan__desk {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.item {
  max-width: 378px;
  border: 1px solid $grey-light;
  transition: all 0.5s ease;
  padding: 40px 24px;
  border-radius: 16px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.pricing-plan__button,
.pricing-plan__button2,
.pricing-plan__button3 {
  pointer-events: none;
}

.best-offers {
  position: absolute;
  top: 40px;
  right: 24px;
}

// =======================================================

.pricing-plan__price {
  position: relative;
}

.pricing-plan__option-value:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.pricing-plan__option-value:nth-child(1) {
  transition: all 0.5s ease;
}

.pricing-plan__option-value2:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.pricing-plan__option-value2:nth-child(1) {
  transition: all 0.5s ease;
}

.pricing-plan__option-value3:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.pricing-plan__option-value3:nth-child(1) {
  transition: all 0.5s ease;
}

// =======================================================

.pricing-input1:checked ~ label > .item1 { 
  background-color: $black;
  margin-bottom: 76px;
}

.pricing-input:checked ~ label .pricing-plan__option-title {
  color: $white;
}

.pricing-input:checked ~ label .pricing-plan__icon-bg {
  background-color: $blue;
}

.pricing-input:checked ~ label .pricing-plan__icon01 {
  opacity: 0;
}

.pricing-input:checked ~ label .pricing-plan__option-value {
  color: $white;
}

.pricing-input:checked ~ label .pricing-plan__option-value > span {
  color: $white;
}

.pricing-input:checked ~ label .pricing-plan__item:nth-last-child(n + 5) {
  color: $white;
}

.pricing-input:checked ~ label .pricing-plan__button {
  color: $black;
  background-color: $white;
}
// =======================================================

.pricing-input2:checked ~ label > .item2 { 
  background-color: $black;
  margin-bottom: 76px;
}

.pricing-input2:checked ~ label .pricing-plan__option-title2 {
  color: $white;
}

.pricing-input2:checked ~ label .pricing-plan__icon-bg2 {
  background-color: $blue;
}

.pricing-input2:checked ~ label .pricing-plan__icon02 {
  opacity: 0;
}

.pricing-input2:checked ~ label .pricing-plan__option-value2 {
  color: $white;
}

.pricing-input2:checked ~ label .pricing-plan__option-value2 > span {
  color: $white;
}

.pricing-input2:checked ~ label .pricing-plan__item2:nth-last-child(n + 5) {
  color: $white;
}

.pricing-input2:checked ~ label .pricing-plan__item2:nth-child(6) {
  color: $white;
}

.pricing-input2:checked ~ label .pricing-plan__button2 {
  color: $black;
  background-color: $white;
}
// ======================================================

.pricing-input3:checked ~ label > .item3 { 
  background-color: $black;
  margin-bottom: 76px;
}

.pricing-input3:checked ~ label .pricing-plan__option-title3 {
  color: $white;
}

.pricing-input3:checked ~ label .pricing-plan__icon-bg3 {
  background-color: $blue;
}

.pricing-input3:checked ~ label .pricing-plan__icon03 {
  opacity: 0;
}

.pricing-input3:checked ~ label .pricing-plan__option-value3 {
  color: $white;
}

.pricing-input3:checked ~ label .pricing-plan__option-value3 > span {
  color: $white;
}

.pricing-input3:checked ~ label .pricing-plan__item3 {
  color: $white;
}

.pricing-input3:checked ~ label .pricing-plan__button3 {
  color: $black;
  background-color: $white;
}

@media (max-width: 900px) {
  .pricing-plan__options {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .item {
    max-width: 100%;
  }
  .pricing-input1:checked ~ label > .item1 {
    margin-bottom: 0;
  }
  .pricing-input2:checked ~ label > .item2 {
    margin-bottom: 0;
  }
  .pricing-input3:checked ~ label > .item3 {
    margin-bottom: 0;
  }
  .pricing-plan__button, 
  .pricing-plan__button2, 
  .pricing-plan__button3 {
    display: block;
    margin: 0 auto;
  }
}