@import 'base/nullstyle';
@import 'base/style';
@import 'bloks/header';
@import 'bloks/front-page';
@import 'bloks/about-services';
@import 'bloks/program';
@import 'bloks/popular-directions';
@import 'bloks/blogs';
@import 'bloks/pinterest-modal-window';
@import 'bloks/swiper';
@import 'bloks/pinterest-slider';
@import 'bloks/pinterest';
@import 'bloks/subscription';
@import 'bloks/footer';