/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
  padding: 0;
  margin: 0;
}

img {
	vertical-align: top;
  max-width: 100%;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

