/* Базовая стилизация */

:root {
  --font-color: #fff;
  --font-grey: #899D9D;
  --font-green: #506829;
  --black-color: #0B1919;
  --base-color: #BAE249;
  --base-color-active: #688B05;
  --bc: #1D2F30;
  --green-hover: #91AC46;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bc);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-color);
  margin: 0;
  position: relative;
}

.body_hide {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
}
.body_visible {
  opacity: 1;
}

a {
  color: var(--font-color);
  transition: .3s;
}

a:hover {
  color: var(--base-color);
}

a:active {
  color: var(--base-color-active);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header + mobile menu*/

.header {
  position: fixed;
  background-color: var(--bc);
  width: 100%;
  z-index: 10;
}

.header-section {
  display: flex;
  align-items: center;
  height: 60px;
}

.header__logo-img {
  width: 65px;
  margin-right: 125px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 109px;
  left:-15px;
  overflow: hidden;
  max-height: 0;
  transition: all .5s ease-out;
  z-index: 10;
}

.menu a {
  display: block;
  padding: 18px 30px;
  color: var(--font-color);
  width: 100%;
}

.menu a:hover {
  background-color: var(--base-color);
  color: var(--black-color);
}

.header__search-form {
  display: flex;
  gap: 60px;
  margin-left: auto;
}

.header__button-search {
  background-color: var(--bc);
  transition: .3s;
}

.header__button-search:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__button-login {
  background-color: var(--bc);
  transition: .3s;
}

.header__img-login {
  margin-top: -2px;
}

.header__button-login:hover {
  opacity: 0.6;
  cursor: pointer;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 15px 20px;
}


.hamb-line {
  background: var(--font-color);
  display: block;
  width: 24px;
  height: 3px;
  position: relative;  
}

.hamb-line::before,
.hamb-line::after {
  background: var(--font-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .5s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 7px;
}

.hamb-line::after {
  top: -7px;
}

.mobile-menu {
  display: none;
}

.mobile-menu:checked ~ nav {
  max-height: 100%;  
  width: 610px;
  background-color: var(--bc);
}

.mobile-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.mobile-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;

}

.mobile-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/* main-top */

.front-page {
  background: url("../img/1_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 60px;
  height: 100%;
  padding: 112px 0 115px 0 ;
}

.front-page__title {
  color: var(--font-color);
  max-width: 659px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  text-align: left;
  margin: 0 auto 22px 0;
}

.front-page__desc {
  max-width: 635px;
  font-style: normal;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
}

.front-page__research {
  color: #BAE249;
  font-weight: bold;
  position: relative;
}

.front-page__research:hover {
  color: var(--green-hover);
}

.front-page__research:active {
  color: var(--base-color-active);
}

.front-page__research::after {
  content: url(../img/svg/Arrow_right_green.svg);
  margin-left: 8px;
  position: absolute;
  top: 3px;
  transition: opacity .3s;
}

.front-page__research:hover::after {
  opacity: 0.6;
}

.front-page__research:active::after {
  opacity: 0.2;
}

/* Слайдер */

.slider {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 11px;
    overflow: hidden; 
}

.slides {
    display: flex; 
    transition: transform 0.8s ease-in-out;
}

.slide {
    margin: 15px;
    flex-shrink: 0;
}

.card {
  border: 1px solid var(--black-color);
  position: relative;
  max-width: 255px;
}

.card-top {
  background-color: var(--black-color);
  min-height: 180px;
  text-align: center;
  align-content: center;
}

.card-top__number-frame,
.number-frame {
  width: 24px;
  height: 24px;
  border: 1px solid var(--font-green);
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
}

.card-top__number,
.number {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--font-grey);
}

.card-content {
  padding: 16px 16px 24px 16px;
}

.card-content__title {
  font-family: Cormorant;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.card-content__discription {
  font-size: 16px;
  color: var(--font-grey);
  margin-bottom: 61px;
}

.card-content__btn {
  display: inline-block;
  padding: 10.5px 28.5px;
  color: var(--base-color);
  border: 1px solid var(--base-color);
  position: absolute;
  bottom: 24px;
  left: 16px;
}

.card-content__btn:hover {
  background-color: var(--base-color);
  color: var(--black-color)
}

.card-content__btn:active {
  background-color: var(--base-color-active);
  color: var(--black-color)
}

.card-content__btn:focus {
  box-shadow: 0 0 0 2px var(--bc), 0 0 0 3px var(--font-green);
}

.scrolling {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.scroling__page-number {
  min-width: 53px;
  text-align: right;
  font-family: Cormorant;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.prev {
  content: url(../img/svg/Arrow_left_grey.svg);
}

.prev:hover {
  content: url(../img/svg/Arrow_left_green.svg);
}

.next {
  content: url(../img/svg/Arrow_right_grey.svg);
}

.next:hover {
  content: url(../img/svg/Arrow_right_green_small.svg);
}

/* artifacts */

.artifacts {
  margin-bottom: 60px;
}

.title {
  font-family: Cormorant;
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  text-align: left;
}

.artifacts__title {
  margin: 57px 0 30px 0;
}

.artifacts-content {
  display: flex;
  gap: 30px;
  height: 493px;
}

.artifacts-content__section-imeges {
  width: 80%;
  padding: 16px;
  background-color: var(--black-color);
  display: flex;
}

.artifacts-content__artifacts-img {
  object-fit: contain;
}

.artifacts-description {
  width: 255px; 
  background-color: var(--base-color);
  padding: 16px 16px 24px 16px;
  position: relative;
}

.artifacts-description__title {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: left;
  color: var(--bc);
}

.artifacts-description__text { 
  text-align: left;
  color: var(--font-green);
  margin-bottom: 121px;
}

.artifacts-description__link {
  display: block;
  font-weight: 700;
  line-height: 22px;
  color: var(--black-color);
  position: absolute;
  bottom: 24px;
  left: 16px;
}

.artifacts-description__link:hover {
  color:var(--base-color-active)
}

.artifacts-description__link::after {
  content: url(../img/svg/Arrow_right_black.svg);
  position: relative;
  left: 8px;
  top: 3px;
  transition: 0.3s;
}

.artifacts-description__link:hover::after {
  opacity: 0.4;
}

/* donation */

.donation {
  padding: 60px 0;
  background-image: url(../img/1_2.png);
  background-size: cover;
}

.donation__title {
  margin-bottom: 20px;
}

.donation__description {
  max-width: 825px;
  margin-bottom: 20px;
}

.donation__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 350px;
}

.input {
  padding: 10px;
  transition: .3s;
}

.input:hover {
  background-color: var(--font-grey);
}

.input:hover::placeholder {
  color: #FFF;
}

.input:invalid {
  border: 2px solid red;
  background-color: var(--font-grey);
}

.donation__button {
  padding: 11px 26px;
  background-color: var(--base-color);
  color: var(--black-color);
  font-weight: 700;
  width: 145px;
  transition: .3s;
  cursor: pointer;
}

.donation__button:hover {
  background-color: var(--green-hover);
}

.donation__button:active {
  background-color: var(--base-color-active);
}

/* social*/

.social {
  background-color: var(--black-color);
  height: 60px;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.social__link > svg {
  fill: var(--font-grey);
  transition: .3s;
}

.social__link > svg:hover {
  fill: var(--base-color);
  cursor: pointer;
}

.registered-sign {
  height: 19px;
}

.registered-sign__img {
  display: block;
  margin: 7px auto;
}

  /* Адаптив */

@media (max-width: 1140px) {
  .slider {
    width: 855px;
  }
  .header-section {
    justify-content: space-between;
  }
  .header__logo-img {
    margin: 0;
  }
  .header__menu {
    margin: 0;
  }
  .header__search-form {
    margin: 0;
  }
}

@media (max-width: 855px) {
  .header-section {
    flex-wrap: wrap;
    gap: 64px;
    padding-top: 11px;
  }

  .header__nav {
    order: 1;
    margin: 0 auto;
    margin-top: -50px;
  }

  .front-page__title {
    font-size: 48px;
  }

  .title {
    font-size: 48px;
  }

  .slider {
    width: 570px;
  }
  .artifacts-content {
    display: block;
    height: auto;
  }
  .artifacts-content__section-imeges {
    width: 100%;
  }
  .artifacts-description {
    width: 100%;
  }
}

@media (min-width: 610px) {
  .header {
    position: relative;
  }

  .nav {
    max-height: none;
    top: 0px;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }
  
  .menu a:hover {
    background-color: transparent;
    color: var(--base-color);  
  }

  .menu a:active {
    background-color: transparent;
    color: var(--base-color-active);  
  }
  
  .hamb {
    display: none;
  }  
} 

@media (max-width: 610px) {
  .slider {
    width: 285px;
  }
}

@media (max-width: 410px) {
  .header-section {
    gap: 0px;
  }
  .header__search-form {
    gap: 30px;
  }
}