
:root{
  --white: #f9f9f9;
  --black: #36383F;
  --grey: #85888C;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 2000px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.nav {
  top: 0;
  position: relative;
  width: fit-content;
  background-color: transparent;
  z-index: 1;
}

.header__nav-list {
  display: flex;
}

.header__nav-list a {
  display: block;
  color: var(--white);
  transition: all 0.3s ease;
}

.header__nav-list a:hover {
  /* background-color: transparent; */
}

.hamb {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1050px) {
  .header {
    /* position: sticky; */
  }

  /* Nav menu */
  .nav {
    overflow: hidden;
    max-height: 0;
    width: 100%; 
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #222222;
    padding-left: 26px;
    transition: max-height .5s ease-out;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
  }

  .header__nav-link {
    display: inline-block;
    float: left;
  }

  .header__nav-list a:hover{
    /* background-color: var(--grey); */
  }

  /* Menu Icon */
  .hamb{
    position: relative;
    display: block;
    cursor: pointer;
    float: right;
    padding: 56px 20px;
    z-index: 2;
  }

  .hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }

  .hamb-line::before,
  .hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 24px;
    right: 0;
  }

  .hamb-line::before{
    top: 8px;
  }

  .hamb-line::after{
    top: -8px;
  }

  /* Toggle menu icon */
  .mobile-menu:checked ~ nav{
    max-height: 100%;
  }

  .mobile-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    position: fixed;
    right: 40px;
  }

  .mobile-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }

  .mobile-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }
}