
$ap: clamp(0.5px, 100vw / 1200, 1px); 

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; 
}

.body_hide {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
}
.body_visible {
  opacity: 1;
}
